html,
body,
#root {
	height: 100%;
	width: 100%;
}

#root{
	display: flex;
	
}

.body {
	background-color: #5a189a;
	display: flex;
	flex: 1;
	flex-direction: column;
	margin: 0;
	padding: 1rem;
}

h1,
h2 {
	color: #ffba08;
}
