body {
	background-color: #5A189A;
	padding: 1rem;
}

h1,
h2 {
	color: #FFBA08;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	color: #5A189A;
	background-color: #e0aaff;
	margin: 1rem 0;
	border-radius: 8px;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

div {
	width: 50%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.title {
	font-weight: bold;
}

div p {
	color: #5A189A;
	font-size: 0.9rem;
}

p {
	margin: 0;
}
