@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1c1a29; /* Background color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #30255C; /* Scrollbar color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4a32b4; /* Hover effect */
}
